
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);
    }

    match /clients/{agencyId} {
      allow get, list, create, update: if isOwner(agencyId);

      match /managedCompanies/{companyId} {
        allow read, write: if isOwner(agencyId);
      }
      match /employees/{employeeId} {
        allow read, write: if isOwner(agencyId);
      }
      match /tasks/{taskId} {
        allow read, write: if isOwner(agencyId);
      }
      match /surveys/{surveyId} {
        allow read, write: if isOwner(agencyId);
      }
      match /legalExpertises/{expertiseId} {
        allow read, write: if isOwner(agencyId);
      }
      match /auditHistory/{auditId} {
        allow read, write: if isOwner(agencyId);
      }
      match /sst_events/{eventId} {
        allow read, write: if isOwner(agencyId);
      }
      match /reports/{reportId} {
        allow read, write: if isOwner(agencyId);
      }
    }

    match /providers/{providerId} {
      allow read, write: if isSignedIn();
    }
    match /companies/{companyId} {
      allow read, write: if isSignedIn();
    }
    match /employees/{employeeId} {
      allow read, write: if isSignedIn();
    }
  }
}
